    :root {
        --background-color: rgb(90, 88, 88);
        --logotext-color: rgb(156, 85, 85);
        --accent-color: pink;
        --bodybackground-color: rgb(41, 39, 39);
        --icons-color: black;
        --menutext-color: black;
        --btntext-color: wheat;
    }
    html {
        scroll-behavior: smooth; 
    }
    body {
        margin: 0;
        background-color: var(--bodybackground-color);
    }
    
    /* Nav */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--background-color);
        padding: 8px 12px; 
    }

    /* Logo */
    .navbar__logo i {
        color: var(--accent-color);
        padding-left: 0;
    }

    .navbar__logo a {
        text-decoration: none;
        font-size: 20px;
        color: var(--logotext-color);
    }

    /* Menu */
    .navbar__menu{
        list-style: none;
        display: flex;
        margin: 0;
        padding-left: 0;
    }

    .navbar__menu li {
        padding: 8px 30px;
    }

    .navbar__menu a{
        text-decoration: none;
        color: var(--icons-color);
        font-size: 20px;
    }

    .navbar__menu a:hover{
        color: var(--logotext-color);
        border-bottom: 2px solid white;
    }

    /* Icon */
    .navbar__icons {
        list-style: none;
        display: flex;
        color: black;
        margin: 0;
        padding-left: 0;
        font-size: 23px;
    }
    .navbar__icons a{

        color: black;
     
    }

    .navbar__icons li {
        padding: 15px 20px;
        margin: 0;
    }

    .navbar__icons i:hover {
        color: var(--logotext-color);
    }

    /* MAIN Name */
    .name__part {
        display: flex;
        background-color: black;
        height: 100vh; 
        justify-content: center; 
        align-items: center;  
    }

    .name__part_one {
        display: block;
        height: 950px;
        justify-content: center; 
        align-items: center;  
        background-color: rgba(0, 0, 0, 0);
        position: relative;
    }

    .bg-content {
        background-image: url('guillermo-ferla-QUR0SuBeFIU-unsplash.jpeg'); 
        background-position: center;
        background-size: 70%;
        color: white;
        padding: 100px;
    }

    .name__part_one h1 {
        color: rgb(218, 196, 156);
        text-shadow: 4px 4px rgb(160, 143, 110);
        padding: 0 1px;
        font-size: 100px;
    }
    
    .name__part_one  h1:hover{
        text-shadow: 4px 4px rgb(160, 143, 110);
    }
    
    /* Button */
    .btn{
        margin-top: 50px;
        margin: 30px;
        padding: 15px 45px;
        text-transform: uppercase;
        border: 2px solid #d8a12a;
        border-radius: 15px;
        text-decoration: none;
        color: var(--btntext-color)
     
    }
    .btn:hover{
        color: white;
        border-radius: 40px;
        background-color:#a59572;;
        border: 2px solid #a59572;;
     
    }

    /* about */
    .about {
        display: block;
        background-color: #1b1a1a;
        padding: 20px;
    }
    .padd {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
    }
    .text_head {
        font-size: 3em;
        color:wheat;
        text-decoration: underline;
        text-decoration-color: rgb(240, 236, 236);
        text-underline-position : under;
       
    }
    .no_margin {
        margin-right: 0;
        margin-left: 0;
    }

    .explain {
        flex: 0 0 50%;
        margin-top: 20px;
        align-items: center; /* Align items vertically */

    }

    .ul_contrainer {
        display: inline-block;
        flex: 1;
        margin: 0;
        padding: 0;
      }
      
      .about_list {
        list-style-type: none;
        padding: 0;
        color: rgb(165, 165, 165);
      }
      
      .about_list li {
        font-size: 1.2em;
        margin-bottom: 10px;
      }
      
      .about_list li::before {
        content: "\2022"; /* Bullet point */
        color: rgb(218, 201, 201);
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }

      .pic {
          display: inline-block;
          text-align: right;
          position: relative;
          max-height: 100%;
          padding-left: 20px; 
      }

      .pic img {
        max-width: 100%;
        height: auto; 
        width: 250px; 
      }

    /* experience */
    .exp__part {
        display: block;
        background-color: #1b1a1a;
        padding: 20px;
    }
    .exp {
        display: inline-block;
        background-color: white;
        height: 50px; 
        justify-content: center; 
        align-items: center; 
        text-align: center;
    }


    /* contact */
    .contact {
        display: block;
        background-color: #1b1a1a;
        padding: 20px;
    }
    .contact_text {
        font-size: 3em;
        color:wheat;
        text-decoration: underline;
        text-decoration-color: rgb(240, 236, 236);
        text-underline-position : under;
    }
    .contact_box {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .box1 {
        display: block;
    }
    .name_input {
        padding: 0.4rem 1rem;
        width: 100%;
        border-radius: 25px;
        background: #12130F;
        border: 1px solid;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        border-color: #e74c3c;
        color: #f7f7f7;
    }
    .textarea_input {
        padding: 0.4rem 1rem;
        width: 100%;
        /* border: none; */
        border-radius: 18px;
        background: #12130F;
        border: 1px solid;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        border-color: #e74c3c;
        color: #f7f7f7;
    }
    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        color: #999999;
    }
    .btn_send {
        text-transform: uppercase;
        margin: 30px;
        padding: 15px 40px;
        border: 2px solid #FDB515;
        color: red;
        background-color: blanchedalmond;
        border-radius: 15px;
        cursor: pointer;
    }
    .btn_send:hover{
        color: white;
        border-radius: 40px;
        background-color:#a59572;;
        border: 2px solid #a59572;;
     
    }
    
    .hidden {
        display: none;
    }

    #myDiv {
        /* width: 50%; */
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        

        transition: transform 1s ease-in-out; /* Adjust duration and easing as needed */
    }
    
    .move-left {
        transform: translateX(-50%); /* Move the div to the left */
    }
    .move-left_line {
        transform: translateX(-100%); /* Move the div to the left */
    }
    

    @keyframes fadeInAnimation {
        from { opacity: 0; }
        to { opacity: 1; }
      }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translate3d(100%, 0, 0);
        }
        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }
    .make_line {
        position: relative;
        animation: fadeInRight 2s;
    }

      .fade-in {
        animation: fadeInAnimation 0.5s ease-in forwards;
      }


    #canvas {
        background-color: transparent; 
        /* opacity: 0.5; */
      }

    .line_div {
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        height: 650px;
        text-align: left;

      }

    #line_child {
        transition: transform 1s ease-in-out; /* Adjust duration and easing as needed */
    }

    .pages {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0);
        /* height: 950px; */
        text-align: left;
        
    }
    .pages h1 {
        color: rgb(218, 196, 156);
        padding: 0 1px;
        font-size: 100px;
    }

    #imageDiv img {
        width: 250px; /* Adjust the width as needed */
        height: 250px; /* Maintain aspect ratio */
    }

    #testdiv {
        /* width: 1px; */
        height: 850px;
        position: absolute;
        top: 50;
        left: 10;
        width: 1%; /* Adjust the width as needed */
        z-index: 1; /* Make sure it's above other elements */
        transition: transform 1s ease-in-out; /* Adjust duration and easing as needed */
    }

    /* div {
        display: block;
    } */

 